{{ define "main" }}

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N8SJXB6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<main>
    <div class="column central">
        <h1>Hey there 👋🏼</h1>
        <h2>I'm Claire.</h2>
        <p>{{- partial "introduction.html" . -}}</p>

        <div class="links">
            {{- range .Site.Params.links -}}
                <a href="{{ .url }}" title="{{ .title }}">
                    <span class="{{ .iconset | default "fab" }} fa-{{ .icon }}"></span>
                </a>
            {{- end -}}
        </div>
    </div>

</main>

{{ end }}
